<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
    <script src="https://unpkg.com/flowbite@1.4.7/dist/flowbite.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
      integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/flowbite@1.4.7/dist/flowbite.min.css"
    />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.8.0/chart.min.js"
      integrity="sha512-sW/w8s4RWTdFFSduOTGtk4isV1+190E/GghVffMA9XczdJ2MDzSzLEubKAs5h0wzgSJOQTRYyaz73L3d6RtJSg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script>
      tailwind.config = {
        theme: {
          fontFamily: {
            sans: ["Montserrat"],
          },
        },
      };
    </script>
  </head>
  <body class="bg-gray-200">
    <nav
      class="bg-gray-700 text-center h-20 pt-2 pl-5 font-black text-4xl"
    >
    <div class="relative">
    <img src="https://cdn-icons-png.flaticon.com/512/868/868804.png" style="float:left" width="65" 
    height="65"> Los 404
  </div>
  </nav>
    <div id="info" class="m-5">
      <h1
        class="text-4xl tracking-tight font-bold flex-1 bg-gray-300 p-6 flex flex-col justify-between rounded-lg shadow-lg"
      >
        Sistema de Medición de Flujo Circular.
      </h1>
      <h2
        class="text-3xl italic font-bold mt-4 tracking-tight flex-1 bg-zinc-300 p-6 flex flex-col justify-between rounded-lg shadow-lg"
      >
        En tiempo real
      </h2>
    </div>
    <div>
      <div class="relative max-w-7xl mx-auto pt-5">
        <div class="text-center">
          <h2
            class="inline-flex border border-transparent px-6 py-3 underline text-3xl bg-gray-300 tracking-tight font-extrabold text-gray-900 sm:text-4xl rounded-full"
          >
            Nuestro Proyecto.
          </h2>
        </div>
        <div
          class="mt-12 max-w-lg mx-auto grid gap-5 lg:grid-cols-3 lg:max-w-none"
        >
          <div class="flex flex-col rounded-lg shadow-2xl overflow-hidden">
            <div class="flex-shrink-0"></div>
            <div class="flex-1 bg-gray-400 p-6 flex flex-col justify-between">
              <div class="flex-1">
                
                  <p class="text-3xl font-semibold text-gray-900">
                    ¿Cómo funciona?
                  </p>
                  <p class="mt-3 text-base text-black">
                    A través de lenguajes de programación (Python) somos capaces
                    de crear una función de detección de objetos a través de un
                    video, y guardamos la información en una base de datos. A
                    través de Flask, un framework de Python, podemos enviar los
                    datos a la página web, que está hecha con otros lenguajes de
                    programación (HTML y JavaScript).
                  </p>
                </a>
              </div>
              <div class="mt-6 flex items-center">
                <div class="ml-3">
                  <div class="flex space-x-1 text-sm text-gray-500"></div>
                </div>
              </div>
            </div>
          </div>

          <div class="flex flex-col rounded-lg shadow-2xl overflow-hidden">
            <div class="flex-shrink-0"></div>
            <div class="flex-1 bg-gray-400 p-6 flex flex-col justify-between border-soli border-red-700">
              <div class="flex-1">
                
                  <p class="text-3xl font-semibold text-gray-900">
                    ¿Para qué sirve?
                  </p>
                  <p class="mt-3 text-base text-black">
                    Con la tecnología que creamos, somos capaces de detectar la
                    cantidad de vehículos que frecuentan en una específica
                    avenida en un tiempo determinado. Con esta información, el
                    usuario puede reconocer que rutas evitar y cuales tomar.
                  </p>
                </a>
              </div>
              <div class="mt-6 flex items-center">
                <div class="flex-shrink-0"></div>
                <div class="ml-3">
                  <div class="flex space-x-1 text-sm text-gray-500"></div>
                </div>
              </div>
            </div>
          </div>

          <div class="flex flex-col rounded-lg shadow-2xl overflow-hidden">
            <div class="flex-shrink-0"></div>
            <div class="flex-1 bg-gray-400 p-6 flex flex-col justify-between">
              <div class="flex-1">
                
                  <p class="text-3xl font-semibold text-gray-900">
                    ¿Quiénes somos?
                  </p>
                  <p class="mt-3 text-base text-black font-bold">
                    Participantes del Bootcamp No. 8 de Penguin's Tribe:
                  </p>
                    <li>
                      Federico Martínez <li>Pedro Herman</li> <li>Fabricio López</li> <li>Rubén
                        Valenzuela </li> <li>Claudia Achucarro</li><li>Hassan González</li>
                    </li>
                    <p class="mt-3 text-base text-black font-bold">
                    Con ayuda de coaches y mentores del Bootcamp No. 8 de Penguin's Tribe: <li>Mario Karajallo</li> <li>Enrique Zárate</li>
                  </p>
                </a>
              </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="flex flex-col items-center m-20">
      <button id="boton" type="button" class="inline-flex items-center px-6 py-3 border border-transparent text-base font-medium rounded-full shadow-2xl text-white bg-gray-600 hover:bg-gray-800 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500">Ir a los Datos</button>
  </div>
    <footer class="m-6 text-center bg-gray-700 text-sm p-2">
      <div class="text-center items-center space-x-4">
        <a
          class="text-white-800 underline-offset-2"
          mr-3
          href="https://github.com/fedemartinezs"
          target="_blank"
        >
          <i class="fab fa-github"> </i>
          GitHub
        </a>
        <a
          class="text-white-800 underline-offset-2"
          href="https://twitter.com/fedemartinezs"
          target="_blank"
        >
          <i class="fab fa-twitter"> </i>
          Twitter
        </a>
      </div>
      <p class="text-white-700 text-center mt-2">© Los 404.</p>
    </footer>
  </body>
  <script type="text/javascript">
    document.getElementById("boton").onclick = function () {
        location.href = "datos";
    };
</script>
</html>
